In [1]:
#1 program to reverse a string
input_str="Hello World!"
rev_str=input_str[::-1]
print("Reversed String = ",rev_str)

Reversed String =  !dlroW olleH

In [1]:
#2 program to check whether string is palindrome or not
my_str="racecar"
rev_str=my_str[::-1]
if my_str==rev_str:
    print(my_str,"is a palindrome")
else:
    print(my_str,"is not a palindrome")

racecar is a palindrome

In [3]:
#3 program to convert string to uppercase
input_string=input("Enter string:")
upper_case=input_string.upper()
print(upper_case)

Enter string: AfroZ

AFROZ

In [4]:
#4 program to convert string to lowercase
input_string=input("Enter string:")
lower_case=input_string.lower()
print(lower_case)

Enter string: AFROZ

afroz

In [5]:
#5 program to count number of vowels
my_str=input("Enter string :")
vowel_count=0
vowels=set("aeiouAEIOU")
for i in my_str:
    if i in vowels:
        vowel_count+=1
print("No of vowels : ",vowel_count)

Enter string : Afroz

No of vowels :  2

In [7]:
#6 program to count number of consonants
my_str=input("Enter string :")
consonant_count=0
consonants=set("bcdfghjklmnpqrstvwxyzBCDFGHJKLMNPQRSTVWXYZ")
for i in my_str:
    if i in consonants:
        consonant_count+=1
print("No of consonants : ",consonant_count)

Enter string : likhitha jinka

No of consonants :  8

In [6]:
#7 program to remove whitespaces from a string
my_str=input("Enter string :")
new_str=my_str.replace(" ","")
print("New string is :", new_str)

Enter string : hi how  are you

New string is : hihowareyou

In [7]:
#8 program to find length of a string without len() function
my_str=input("Enter string :")
str_len=0
for i in my_str:
    str_len +=1
print("Length of string :",str_len)

Enter string : likhitha

Length of string : 8

In [8]:
#9 program to find string contains a specific word
my_str=input("Enter string :")
specific_str=input("Enter specific string :")
if specific_str in my_str:
    print(my_str, "contains",specific_str)
else:
    print(my_str,"not contains",specific_str)

Enter string : I love Tamil
Enter specific string : Tamil

I love Tamil contains Tamil

In [9]:
#10 program to replace a word in string with another word
my_str=input("Enter string :")
old_word=input("Enter old word :")
new_word=input("Enter new word :")
new_str=my_str.replace(old_word,new_word)
print("New string :",new_str)

Enter string : Iam a bad boy
Enter old word : bad
Enter new word : good

New string : Iam a good boy

In [10]:
#11 program to count occurrences of a word 
my_str=input("Enter string :")
target_word=input("Enter word :")
occurrences_count=my_str.count(target_word)
print("No of occurrences of",target_word,"is",occurrences_count)

Enter string : india is my country,i love my country
Enter word : country

No of occurrences of country is 2

In [11]:
#12 program to find first occurrences of a word
my_str=input("Enter string :")
word=input("Enter word:")
first_occurrence=my_str.find(word)
print("First Occurrence is :",first_occurrence)

Enter string : india is my country,i love my country
Enter word: country

First Occurrence is : 12

In [12]:
#13 program to find last occurrence of a word
my_str=input("Enter string :")
word=input("Enter word:")
last_occurrence=my_str.rfind(word)
print("Last Occurrence is :",last_occurrence)

Enter string : india is my country,i love my country
Enter word: country

Last Occurrence is : 30

In [13]:
#14 program to split string into list of words
my_str=input("Enter string :")
split_words=my_str.split()
print("List of words :",split_words)

Enter string : hi helloo

List of words : ['hi', 'helloo']

In [18]:
#15 program to join list of words into string
words_list=['How','are','you']
joined_string=' '.join(words_list)
print("Joined String is :",joined_string)

Joined String is : How are you

In [14]:
#16 program to convert string from space seperated words to underscore seperated words
my_str=input("Enter string :")
underscore_seperated=my_str.replace(" ","_")
print("Underscore seperated string :",underscore_seperated)

Enter string : python is a programming lang

Underscore seperated string : python_is_a_programming_lang

In [16]:
#17 program to check if string starts with specific word or phrase
my_str=input("Enter string :")
specific_word=input("Enter word :")
if my_str.startswith(specific_word):
    print("String starts with",specific_word)
else:
    print("String not starts with",specific_word)

Enter string : python is easy
Enter word : python

String starts with python

In [17]:
#18 program to check if string ends with specific word or phrase
my_str=input("Enter string :")
specific_word=input("Enter word :")
if my_str.endswith(specific_word):
    print("String ends with",specific_word)
else:
    print("String not ends with",specfic_word)

Enter string : python is easy
Enter word : easy

String ends with easy

In [18]:
#19 program to convert string to title case
my_str=input("Enter string :")
title_case=my_str.title()
print("Title case : ",title_case)

Enter string : physics wallah

Title case :  Physics Wallah

In [19]:
#20 program to find longest word in a string
my_str=input("Enter string :")
words_list=my_str.split()
longest_word=max(words_list,key=len)
print("Longest Word is :",longest_word)

Enter string : python is a programming lang

Longest Word is : programming

In [20]:
#21 program to find shortest word in a string
my_str=input("Enter string :")
words_list=my_str.split()
shortest_word=min(words_list,key=len)
print("Shortest Word is :",shortest_word)

Enter string : This is likhitha

Shortest Word is : is

In [21]:
#22 program to reverse order of words in a string
my_str=input("Enter string :")
words_list=my_str.split()
reverse_words=list(reversed(words_list))
print("Reversed order of string :"," ".join(reverse_words))

Enter string : This is bondam

Reversed order of string : bondam is This

In [25]:
#23 program to check if a string is alphanumeric or not
my_str=input("Enter string :")
if my_str.isalnum() :
    print("String is alphanumeric")
else:
    print("String is not alphanumeric")

Enter string : Afroz44

String is alphanumeric

In [26]:
#24 program to extract all digits from a string
my_str=input("Enter string :")
digits=""
for i in my_str:
    if i.isdigit():
        digits+=i
print("Digits are :",digits)

Enter string : python3 1983

Digits are : 31983

In [27]:
##25 program to extract all alphabets from a string
my_str=input("Enter string :")
alphabets=""
for i in my_str:
    if i.isalpha():
        alphabets+=i
print("Alphabets are :",alphabets)

Enter string : python3

Alphabets are : python

In [28]:
#26 program to count number of uppercase letters
my_str=input("Enter string :")
upper=0
for i in my_str:
    if i.isupper():
        upper+=1
print("Count of uppercase letters are :",upper)

Enter string : AFROZ

Count of uppercase letters are : 5

In [29]:
#27 program to count number of lowercase letters
my_str=input("Enter string :")
lower=0
for i in my_str:
    if i.islower():
        lower+=1
print("Count of lowercase letters are :",lower)

Enter string : afroz

Count of lowercase letters are : 5

In [30]:
#28 program to swap case of each character
my_str=input("Enter string :")
swapped_string=my_str.swapcase()
print("Swapped string is :",swapped_string)

Enter string : PythoN

Swapped string is : pYTHOn

In [32]:
#29 program to remove a specific word from string
my_str=input("Enter string :")
word=input("Enter word to remove :")
new_string=my_str.replace(word,"")
print(new_string)

Enter string : hi bondam
Enter word to remove : b

hi ondam

In [33]:
#30 program to check if string is a valid email address
import re
my_str=input("Enter email address :")
valid="^[a-zA-Z0-9-_]+@[a-zA-Z0-9]+\.[a-z]{1,3}$"
if re.match(valid,my_str):
    print("Valid")
else:
    print("Not valid")

Enter email address : skafroz2200@gmail.com

Valid

In [34]:
#31 program to extract username from an email address string
my_str=input("Enter email address :")
username=my_str.index("@")
print("Username :",my_str[0:username])

Enter email address : python1983@gmail.com

Username : python1983

In [35]:
#32 program to extract domain name from an email address string
my_str=input("Enter email address :")
domainname=my_str.index("@")
print("Domain name :",my_str[domainname:])

Enter email address : python1983@gmail.com

Domain name : @gmail.com

In [36]:
#33 program to replace multiple spaces in string with single space
my_str=input("Enter string :")
new_string=" ".join(my_str.split())
print(new_string)

Enter string : hi     how r u   ???

hi how r u ???

In [37]:
#34 program to check url valid or not
from urllib.parse import urlparse

def is_url(url):
  try:
    result = urlparse(url)
    return all([result.scheme, result.netloc])
  except ValueError:
    return False
is_url("https://www.asdf.com")

True

In [42]:
#35 program to extract protocol from a URL string
def extract_protocol(url):
    # Find the index of the first occurrence of "://"
    protocol_end = url.find("://")

    if protocol_end != -1:
        # Extract the protocol from the URL
        protocol = url[:protocol_end]
        return protocol
    else:
        return None
url1= "https://www.example.com"
protocol = extract_protocol(url1)
print("Protocol :", protocol)

Protocol : https

In [38]:
#36 program to find frequency of each character in a string
def frequency(my_str):
    freq = {}  
    for char in my_str:
        if char in freq:
            freq[char] += 1 
        else:
            freq[char] = 1  
    return freq
my_str = "hello world"
char_freq = frequency(my_str)
for char, freq in char_freq.items():
    print("Character: ",char, "Frequency: ",freq)

Character:  h Frequency:  1
Character:  e Frequency:  1
Character:  l Frequency:  3
Character:  o Frequency:  2
Character:    Frequency:  1
Character:  w Frequency:  1
Character:  r Frequency:  1
Character:  d Frequency:  1

In [39]:
#37 program to remove all punctuation from a string
import string
my_str = input("Enter string :")
test_str = my_str.translate(my_str.maketrans('', '', string.punctuation))
print(test_str)

Enter string : " Helloo World!!! "

 Helloo World

In [40]:
#38 program to check if a string contains only digits
my_str=input("Enter string :")
if my_str.isdigit():
    print(my_str,"contains only digits")
else:
    print(my_str,"does not contains only digits")

Enter string : 5465457

5465457 contains only digits

In [42]:
#39 program to check if a string contains only alphabets
my_str=input("Enter string :")
if my_str.isalpha():
    print(my_str,"contains only alphabets")
else:
    print(my_str,"does not contains only alphabets")

Enter string : pythonlang

pythonlang contains only alphabets

In [43]:
#40 program to convert a string to a list of characters
my_str=input("Enter string:")
list_of_char=list(my_str)
print(list_of_char)

Enter string: hello world

['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']

In [6]:
#41 program to check if two strings are anagrams
str1=input("Enter string1 :")
str2=input("Enter string2 :")
string1=str1.replace(" ","").lower()
string2=str2.replace(" ","").lower()
if sorted(string1)==sorted(string2):
    print(str1,"and",str2,"are anagrams")
else:
    print(str1,"and",str2,"are not anagrams")

Enter string1 : god
Enter string2 : dog

god and dog are anagrams

In [49]:
#42 program to encode a string using a Caesar cipher
def caesar_cipher_encrypt(text, shift):
    encrypted_text = ""
    for char in text:
        if char.isalpha():
            if char.islower():
                encrypted_char = chr(((ord(char) - ord('a') + shift) % 26) + ord('a'))
            else:
                encrypted_char = chr(((ord(char) - ord('A') + shift) % 26) + ord('A'))
        else:
            encrypted_char = char
        encrypted_text += encrypted_char
    return encrypted_text
input_text = input("Enter a string: ")
shift_amount = int(input("Enter the shift value (an integer): "))
encrypted_text = caesar_cipher_encrypt(input_text, shift_amount)
print("Encrypted text:", encrypted_text)

Enter a string:  likhitha
Enter the shift value (an integer):  3

Encrypted text: olnklwkd

In [50]:
#43 program to decode a Caesar cipher encoded string
def caesar_cipher_decrypt(encrypted_text, shift):
    decrypted_text = ""
    for char in encrypted_text:
        if char.isalpha():
            if char.islower():
                decrypted_char = chr(((ord(char) - ord('a') - shift) % 26) + ord('a'))
            else:
                decrypted_char = chr(((ord(char) - ord('A') - shift) % 26) + ord('A'))
        else:
            decrypted_char = char
        decrypted_text += decrypted_char
    return decrypted_text
encoded_text = input("Enter the Caesar cipher encoded string: ")
shift_amount = int(input("Enter the shift value (an integer): "))
decrypted_text = caesar_cipher_decrypt(encoded_text, shift_amount)
print("Decrypted text:", decrypted_text)

Enter the Caesar cipher encoded string:  likhitha
Enter the shift value (an integer):  3

Decrypted text: ifhefqex

In [1]:
#44 program to find the most frequent word in a string
def most_frequent_word(text):
    words = text.split()
    word_count = {}
    for word in words:
        cleaned_word = word.strip(".,!?").lower()
        if cleaned_word in word_count:
            word_count[cleaned_word] += 1
        else:
            word_count[cleaned_word] = 1
    most_frequent = max(word_count, key=word_count.get)
    return most_frequent, word_count[most_frequent]
input_text = input("Enter a string: ")
most_frequent, frequency = most_frequent_word(input_text)
print(f"The most frequent word is '{most_frequent}' with a frequency of {frequency}.")

Enter a string:  Hello world how's the world

The most frequent word is 'world' with a frequency of 2.

In [52]:
#45 program to find all unique words in a string
def unique_words(text):
    words = text.split()
    unique_word_set = set()
    for word in words:
        cleaned_word = word.strip(".,!?").lower()
        unique_word_set.add(cleaned_word)
    return unique_word_set
input_text = input("Enter a string: ")
unique_words_set = unique_words(input_text)
print("Unique words in the string:",unique_words_set)

Enter a string:  HELLOO WorlD

Unique words in the string: {'world', 'helloo'}

In [53]:
#46 program to count the number of syllables in a string
import re
def count_syllables(word):
    vowel_groups = re.findall(r'[aeiouy]+', word, re.IGNORECASE)
    return len(vowel_groups)
word1 = input("Enter string :")
syllables = count_syllables(word1)
print(f"'{word1}' has {syllables} syllables.")

Enter string : bananna

'bananna' has 3 syllables.

In [2]:
#47 program to check if a string contains any special characters
import re
def contains_special_characters(text):
    pattern = r'[!@#$%^&*()_+{}\[\]:;<>,.?~\\/-]'
    if re.search(pattern, text):
        return True
    else:
        return False
input_text = input("Enter a string: ")
if contains_special_characters(input_text):
    print("The string contains special characters.")
else:
    print("The string does not contain special characters.")

Enter a string:  "How @re you!?"

The string contains special characters.

In [7]:
#48 program to remove the nth word from a string
def remove_nth_word(input_string, n):
    words = input_string.split()
    if n >= 1 and n <= len(words):
        del words[n - 1]
        result_string = ' '.join(words)
        return result_string
    else:
        return "Invalid value of 'n'"
input_text = input("Enter a string: ")
n = int(input("Enter the position (n) of the word to remove: "))
new_string = remove_nth_word(input_text, n)
print("Result:", new_string)

Enter a string:  Iam a very good boy
Enter the position (n) of the word to remove:  3

Result: Iam a good boy

In [9]:
#49 program to insert a word at the nth position in a string
def insert_word_at_nth_position(input_string, n, word_to_insert):
    words = input_string.split()
    if n >= 1 and n <= len(words) + 1:
        words.insert(n - 1, word_to_insert)
        result_string = ' '.join(words)
        return result_string
    else:
        return "Invalid value of 'n'"
input_text = input("Enter a string: ")
n = int(input("Enter the position (n) at which to insert the word: "))
word_to_insert = input("Enter the word to insert: ")
new_string = insert_word_at_nth_position(input_text, n, word_to_insert)
print("Result:", new_string)

Enter a string:  Iam a good girl
Enter the position (n) at which to insert the word:  3
Enter the word to insert:  very

Result: Iam a very good girl

In [1]:
#50 program to convert a CSV string to a list of lists
csv_string = "kiwi,cherry,mango,apple,banana"
csv_list = []
lines = csv_string.split('\n')
for line in lines:
    fields = line.split(',')
    csv_list.append(fields)
for row in csv_list:
    print(row)

['kiwi', 'cherry', 'mango', 'apple', 'banana']

In [3]:
#LIST BASED PROBLEMS
#1 To create a list with integers from 1 to 10
list_int=[i for i in range(1,11)]
print(list_int)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [4]:
#2to find the length of list withut using len() method
def find_length_of_list(my_list):
    count = 0
    for _ in my_list:
        count += 1
    return count

# Example usage:
my_list = [1, 2, 3, 4, 5,6]
length = find_length_of_list(my_list)
print("Length of the list:", length)

Length of the list: 6

In [5]:
#3 Append an element to the end of a list
list_l1=[10,20,30,40]
new_element = 40
list_l1.append(new_element)
print("Updated list:",list_l1)

Updated list: [10, 20, 30, 40, 40]

In [6]:
#4 To insert an element at a  specific index in a list
my_list = [1,2,3,4,5]
element_to_insert=20
index_to_insert_at=2
my_list.insert(index_to_insert_at,element_to_insert)
print(my_list)

[1, 2, 20, 3, 4, 5]

In [7]:
#5 Remove an element from a list by its value
my_list=[1,2,3,4,5]
element_to_remove=5
my_list.remove(element_to_remove)
print("Updated list:",my_list)

Updated list: [1, 2, 3, 4]

In [8]:
#6 Remove an element from a list by its index.
my_list=['a','f','f','u','u']
givenIndex = 3
del my_list[givenIndex]
print("List after deleting specified item:",my_list)

List after deleting specified item: ['a', 'f', 'f', 'u']

In [10]:
#7 TO check if an elemnt exists in a list
list_l1=[10,20,30,40,50]
element_to_check=int(input("Enter an element :"))
if element_to_check in list_l1:
    print(f"{element_to_check} exists in the list.")
else:
    print(f"{element_to_check} do not exists in list")

Enter an element : 30

30 exists in the list.

In [11]:
#8 Find the index of the occurence of an element in a list
my_list=[10,20,30,40]
element_to_find = int(input("enter a number"))
index = my_list.index(element_to_find)
print(f"The index of {element_to_find} is {index}")

enter a number 40

The index of 40 is 3

In [12]:
#9To find the occurence of the elements in the list
my_list = [10,20,30,40,50,30,30,40,30]
element_to_count=int(input("enter an number"))
count = my_list.count(element_to_count)
print(f"The element {element_to_count} occurs {count} times in the list.")

enter an number 30

The element 30 occurs 4 times in the list.

In [13]:
#10To reverse the order of list
my_list=[10,20,30,40,50]
reversed_list=my_list[::-1]
print(reversed_list)

[50, 40, 30, 20, 10]

In [14]:
#11Sort a list in ascending order.
my_list=[20,10,30,40,60,15,9,8]
sorted_list=sorted(my_list)
print(sorted_list)

[8, 9, 10, 15, 20, 30, 40, 60]

In [15]:
#12. Sort a list in descending order.
my_list=[1,2,3,4,5,6,7,8]
descending_order=sorted(my_list,reverse=True)
print(descending_order)

[8, 7, 6, 5, 4, 3, 2, 1]

In [16]:
#13. Create a list of even numbers from 1 to 20.
even_number = [x for x in range(1,21) if x%2==0]
print(even_number)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [17]:
#14 create a list of odd numbers from 1 to 20
odd_numbers = [x for x in range(1,21) if x%2!=0]
print(odd_numbers)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [18]:
#15 sum of all elements in the list
my_list = [1,2,3,4,5,6]
list_sum=sum(my_list)
print(list_sum)

21

In [19]:
#16 program to find max value in the list
my_list=[10,20,30,40,50]
max_value=max(my_list)
print(max_value)

50

In [20]:
#17 program to find min vlalue in the lsit
my_list=[10,20,30,40,50,1]
min_value=min(my_list)
print(min_value)

1

In [21]:
#### 18. Create a list of squares of numbers from 1 to 10
squares=[x ** 2 for x in range(1,11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [11]:
### 19. Create a list of random numbers.
import random
random_integers = [random.randint(1,100) for _ in range(10)]
print(random_integers)

[36, 40, 82, 48, 54, 85, 67, 96, 25, 86]

In [12]:
### 20. Remove duplicates from a list.
my_list=[10,20,20,10,20,20,30,40,20]
unique_list=list(set(my_list))
print(unique_list)

[40, 10, 20, 30]

In [24]:
#21. Find the common elements between two lists.
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]
list3 = [5, 6, 7, 8, 9]
common_elements = list(set(list1) & set(list2) & set(list3))
print(common_elements)

[5]

In [13]:
#22Difference betweeen two lists
list1=[10,20,30,40]
list2=[9,18,17,16]
difference = list(set(list1) - set(list2))
print(difference)

[40, 10, 20, 30]

In [26]:
#23 Merge two lists
list1=[10,20,30,40]
list2=[50,60,70,80]
list1.extend(list2)
print(list1)

[10, 20, 30, 40, 50, 60, 70, 80]

In [27]:
#24 multiply all the elements in a list by 2
my_list=[10,20,30,40]
doubled_list=[x*2 for x in my_list]
print(doubled_list)

[20, 40, 60, 80]

In [28]:
#25 Filter out all even numbers from a list
numbers=[1,2,3,4,6,8,10,12]
even_numbers=[num for num in numbers if num % 2 == 0]
print("even numbers:",even_numbers)

even numbers: [2, 4, 6, 8, 10, 12]

In [29]:
### 26. Convert a list of strings to a list of integers.
string_list = ["1","2","3","4","5"]
integer_list=[int(x) for x in string_list]
print(integer_list)

[1, 2, 3, 4, 5]

In [30]:
### 27. Convert a list of integers to a list of strings.
integer_list=[1,2,3,4,5,6,7,8]
string_list=[str(x) for x in integer_list]
print(string_list)

['1', '2', '3', '4', '5', '6', '7', '8']

In [31]:
#28. Flatten a nested list.
def flatten_list(nested_list):
    flat_list = [item for sublist in nested_list for item in (sublist if isinstance(sublist, list) else [sublist])]
    return flat_list
nested_list = [1, [2, 3], [4, [5, 6]]]
flat_list = flatten_list(nested_list)
print(flat_list)

[1, 2, 3, 4, [5, 6]]

In [32]:
#29 list of 10 fibonacci numbers
def fibonacci(n):
    fibonacci_list = [0,1]
    for i in range(2, n):
        next_fibonacci = fibonacci-list[i - 1] + fibonacci_list[i - 2]
        fibonacci_list.append(next_fibonacci)
    return fibonacci_list
fibonacci_numbers = fibonacci(2)
print("First 10 fibonacci numbers:",fibonacci_numbers)

First 10 fibonacci numbers: [0, 1]

In [33]:
#30. Create a list of the first 10 Fibonacci numbers.
def is_sorted_ascending(lst):
    for i in range(1, len(lst)):
        if lst[i] < lst[i - 1]:
            return False
    return True
ascending_list = [10, 20, 30, 40, 50]
if is_sorted_ascending(ascending_list):
    print("The list is sorted in ascending order.")
else:
    print("The list is not sorted in ascending order.")

The list is sorted in ascending order.

In [37]:
#31 To rotate a list to the left by  n positions
def rotate_left(lst, n):
    n = n % len(lst) 
    rotated = lst[n:] + lst[:n]
    return rotated
my_list = [1, 2, 3, 4, 5, 6]
n = 2
rotated_list = rotate_left(my_list, n)
print("Rotated list:", rotated_list)

Rotated list: [3, 4, 5, 6, 1, 2]

In [38]:
#32 Rotate a list to right by n positions
def rotate_right(lst, n):
    n = n % len(lst)  
    rotated = lst[-n:] + lst[:-n]
    return rotated
my_list = [1, 2, 3, 4, 5, 6]
n = 2
rotated_list = rotate_right(my_list, n)
print("Rotated list:", rotated_list)

Rotated list: [5, 6, 1, 2, 3, 4]

In [39]:
#33 create a list of prime numbers up to 50
def is_prime(num):
    if num <= 1:
        return False
    elif num <= 3:
        return True
    elif num % 2 == 0 or num % 3 == 0:
        return False
    i = 5
    while i * i <= num:
        if num % i == 0 or num % (i + 2) == 0:
            return False
        i += 6
    return True

prime_numbers = [num for num in range(2, 51) if is_prime(num)]

print(prime_numbers)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [40]:
#34 split a list into chunks of size n.
def split(list_a, chunk_size):

  for i in range(0, len(list_a), chunk_size):
    yield list_a[i:i + chunk_size]

chunk_size = 2
my_list = [1,2,3,4,5,6,7,8,9]
print(list(split(my_list, chunk_size)))

[[1, 2], [3, 4], [5, 6], [7, 8], [9]]

In [41]:
#35 find the second largest number in the list
my_list = [10,20,30,40,50]
sorted_list=sorted(set(my_list))
if len(sorted_list) >= 2:
    second_largest = sorted_list[-2]
    print("second largest number:",second_largest)
else:
    print("The list does not contain enough elements")

second largest number: 40

In [42]:
#36 Replace every element of the lsit with its squares
my_list=[2,3,4,5,6]
squared_list=[x ** 2 for x in my_list]
print(squared_list)

[4, 9, 16, 25, 36]

In [43]:
### 37. Convert a list to a dictionary where list elements become keys and their indices become values.
my_list=['apple','banana','cat','dog']
my_dict={element: index for index, element in enumerate(my_list)}
print(my_dict)

{'apple': 0, 'banana': 1, 'cat': 2, 'dog': 3}

In [44]:
#38 shuffle all the elements in the list
import random
my_list=[1,2,3,4,5,6,7,8,9]
random.shuffle(my_list)
print("shuffled list:",my_list)

shuffled list: [3, 9, 6, 1, 2, 4, 7, 5, 8]

In [45]:
#39 Create a list of the first 10 factorial numbers.
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)
for i in range(1,11):
    result = factorial(i)
    print(f"{i}! = {result}")

1! = 1
2! = 2
3! = 6
4! = 24
5! = 120
6! = 720
7! = 5040
8! = 40320
9! = 362880
10! = 3628800

In [46]:
## 40. Check if two lists have at least one element in common.
list1=[1,2,3,4,5,6,7,8,9]
list2=[1,2,3,4,5,10,7,59]
set1 = set(list1)
set2 = set(list2)
common_elements = set1.intersection(set2)

if common_elements:
    print("Common elements:",common_elements)
else:
    print("No common elements found")

Common elements: {1, 2, 3, 4, 5, 7}

In [47]:
#41 Remove all the elkements from the list
my_list=[10,20,30,40,50,60]
my_list.clear()
print(my_list)

[]

In [48]:
#42 Replace negative numbers in a list with 0
numbers=[1,-2,-3,-4,-5,6]
numbers = [ x if x>=0 else 0 for x in numbers]
print(numbers)

[1, 0, 0, 0, 0, 6]

In [49]:
#43 convert a string into a list of words
my_string="hello my name is Affu!"
word_list = my_string.split()
print(word_list)

['hello', 'my', 'name', 'is', 'Affu!']

In [50]:
#44 Convert a list of word into string
word_list=["my", "favourite", "breakfast" ,"is","bonda"]
my_string= " ".join(word_list)
print("converted string:",my_string)

converted string: my favourite breakfast is bonda

In [51]:
#45 Create a list of the first n powers of 2
def power_of_2(n):
    powers = []
    for i in range(n):
        powers.append(2 ** i)
    return powers
n=int(input("Enter the valueof n:"))
result=power_of_2(n)
print(result)

Enter the valueof n: 5

[1, 2, 4, 8, 16]

In [52]:
#46 find the longest string in a list of strings
string_list=["apple","affu","likki","bondam","pumpkin","GummadiKaay"]
longest_string = max(string_list, key =len)
print("The longest string is:", longest_string)

The longest string is: GummadiKaay

In [53]:
#47 find the shortest string in a list of strings
string_lsit=["apple","affu","likki","bondam","pumpkin","GummadiKaay"]
shortest_string=min(string_list, key = len)
print("The shortest string is:",shortest_string)

The shortest string is: affu

In [54]:
#48 Create a list of the first n triangular numbers
def triangular_numbers(n):
    return [i * (i + 1) // 2 for i in range(1, n + 1)]
n = 5
triangular_list = triangular_numbers(n)
print("List of the first", n, "triangular numbers:", triangular_list)

List of the first 5 triangular numbers: [1, 3, 6, 10, 15]

In [55]:
### 49. Check if a list contains another list as a subsequence
def is_subsequence(subsequence, main_list):
    subseq_index = 0 
    for element in main_list:
        if element == subsequence[subseq_index]:
            subseq_index += 1
            if subseq_index == len(subsequence):
                return True
    return False
main_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
subsequence = [3, 5, 8]
if is_subsequence(subsequence, main_list):
    print("Main list contains the subsequence.")
else:
    print("Main list does not contain the subsequence.")

Main list contains the subsequence.

In [56]:
## 50. Swap two elements in a list by their indices.
my_list=[1,2,3,4,5]
index1 = 1
index2 = 2
temp = my_list[index1]
my_list[index1] = my_list[index2]
my_list[index2] = temp
print("List after swapping elements:",my_list)

List after swapping elements: [1, 3, 2, 4, 5]

In [57]:
#Tuple Based problems
### 1. Create a tuple with integers from 1 to 5.
x=tuple(range(1,6))
print(x)

(1, 2, 3, 4, 5)

In [17]:
### 2. Access the third element of a tuple.
my_tuple=(1,2,3,4,5)
my_tuple[2]

3

In [59]:
### 3. Find the length of a tuple without using the `len()` function.
my_tuple = (10,20,30,40,50,60)
count=0
for _ in my_tuple:
    count +=1
print("The length of the tuple is:", count)

The length of the tuple is: 6

In [60]:
## 4. Count the occurrences of an element in a tuple.
my_tuple=(10,20,20,30,40,50,20,60)
count=my_tuple.count(20)
print("occurences:",count)

occurences: 3

In [61]:
### 5. Find the index of the first occurrence of an element in a tuple.
my_tuple=(10,20,30,40)
element_to_find = 10
index=-1
for i, item in enumerate(my_tuple):
    if item == element_to_find:
        index = i
        break
if index != -1:
    print(f"The first occurence of {element_to_find} is at index {index}.")
else:
    print(f"{element_to_find} is not found in the tuple.")

The first occurence of 10 is at index 0.

In [62]:
### 6. Check if an element exists in a tuple.
my_tuple=(10,20,30,40)
x=int(input("enter the number"))
if x in my_tuple:
    print("yes the element exists in my_tuple")
else:
    print("the element do not exits in the tuple")

enter the number 90

the element do not exits in the tuple

In [63]:
### 7. Convert a tuple to a list.
my_tuple=(10,20,30,40)
my_list=list(my_tuple)
print(my_list)

[10, 20, 30, 40]

In [107]:
### 8. Convert a list to a tuple.
my_list=[10,20,30,40]
my_tuple=(my_list)
print(my_tuple)

[10, 20, 30, 40]

In [73]:
### 9. Unpack the elements of a tuple into variables
my_tuple=(10,20,30)
v1,v2,v3=my_tuple
print("v1:",v1)
print("v2:",v2)
print("v3:",v3)

v1: 10
v2: 20
v3: 30

In [74]:
### 10. Create a tuple of even numbers from 1 to 10.
even_numbers=[x for x in range(1,11) if x % 2 == 0]
print(even_numbers)

[2, 4, 6, 8, 10]

In [75]:
### 11. Create a tuple of odd numbers from 1 to 10.
odd_numbers=[x for x in range(1,11) if x%2!=0]
print(odd_numbers)

[1, 3, 5, 7, 9]

In [76]:
### 12. Concatenate two tuples.
tup1=(10,20,30)
tup2=("A","B","c")
tup3=tup1+tup2
print(tup3)

(10, 20, 30, 'A', 'B', 'c')

In [77]:
### 13. Repeat a tuple three times.
my_tuple=(1,2,3)
repeat_tuple=my_tuple*3
print(repeat_tuple)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [79]:
### 14. Check if a tuple is empty.
my_tuple = ()
if len(my_tuple) == 0:
    print("The tuple is empty")
else:
    print("The tuple is not empty")

The tuple is empty

In [80]:
### 15. Create a nested tuple.
nested_tuple = ((1,2,3),('a','b','c'),(True,False))
print("Nested tuple:", nested_tuple)

Nested tuple: ((1, 2, 3), ('a', 'b', 'c'), (True, False))

In [81]:
### 16. Access the first element of a nested tuple.
nested_tuple = ((1,2),(3,4),(5,6))
nested_tuple[1]

(3, 4)

In [82]:
### 17. Create a tuple with a single element.
my_tuple=(10,)
print("single element tuple:",my_tuple)

single element tuple: (10,)

In [83]:
### 18. Compare two tuples.
tup1=(1,2,3)
tup2=(1,2,4)

print("tup1 == tup2:", tup1 == tup2)
print("tup1 !=tup2:", tup1 != tup2)
print("tup1 < tup2:",tup1 < tup2)
print("tup1 > tup2:",tup1 > tup2)
print("tup1 <=tup2:",tup1 <= tup2)
print("tup1 >=tup2:",tup1 >= tup2)

tup1 == tup2: False
tup1 !=tup2: True
tup1 < tup2: True
tup1 > tup2: False
tup1 <=tup2: True
tup1 >=tup2: False

In [14]:
#19 Delete a Tuple
# Step 1: Create a tuple
my_tuple = (1, 2, 3, 4, 5)
del my_tuple
print(my_tuple)
#AFTER DELETING TUPLE IT DO NOT SHOWS

NameError: name 'my_tuple' is not defined

In [85]:
#20 Slice a Tuple
my_tuple=(1,2,3,4,5,6,7)
sliced_tuple = my_tuple[2:6]
print("sliced_tuple:",sliced_tuple)

sliced_tuple: (3, 4, 5, 6)

In [86]:
#### 21. Find the maximum value in a tuple
my_tuple=(10,20,30,40)
max_value=max(my_tuple)
print(max_value)

40

In [87]:
 ### 22. Find the minimum value in a tuple.
my_tuple=(10,20,3,40)
min_value=min(my_tuple)
print(min_value)

3

In [16]:
### 23. Convert a string to a tuple of characters.
my_string = "Hello Affuuu!"
tuple_of_characters = tuple(my_string)
print(tuple_of_characters)

('H', 'e', 'l', 'l', 'o', ' ', 'A', 'f', 'f', 'u', 'u', 'u', '!')

In [89]:
##24. Convert a tuple of characters to a string.
my_tuple = ('h','e','l','l','o','w','o','r','l','d')
my_string=''.join(my_tuple)
print(my_string)

helloworld

In [90]:
### 25. Create a tuple from multiple data types
mixed_tuple = (1,"hello",3.14,True)
print(mixed_tuple)

(1, 'hello', 3.14, True)

In [91]:
## 26. Check if two tuples are identical.
tup1 = (1,2,3,4,5)
tup2 = (1,2,3,4,5)
if tup1==tup2:
    print("the tuples are identical")
else:
    print("The tuples are not identical")

the tuples are identical

In [92]:
### 27. Sort the elements of a tuple.
my_tuple=(10,20,30,15,12)
sorted_tuple=sorted(my_tuple)
print(sorted_tuple)

[10, 12, 15, 20, 30]

In [48]:
### 28. Convert a tuple of integers to a tuple of strings
tuple_of_integers=(10,20,30,40)
tuple_of_strings = (str(item) for item in tuple_of_integers)
print(tuple(tuple_of_strings))

('10', '20', '30', '40')

In [18]:
#### 29. Convert a tuple of strings to a tuple of integers.
tuple_of_strings = ["10","20","30","40"]
tuple_of_integers = tuple(int(item) for item in tuple_of_strings)
print(tuple_of_integers)

(10, 20, 30, 40)

In [206]:
#### 30. Merge two tuples.
tup1 = (1,2,3)
tup2 = (4,5,6)
merged_tuple = tup1+tup2
print(merged_tuple)

(1, 2, 3, 4, 5, 6)

In [19]:
#31 Recursive function to flatten a nested tuple
def flatten_tuple(nested_tuple):
    flattened = []
    for item in nested_tuple:
        if isinstance(item, tuple):
            flattened.extend(flatten_tuple(item))
        else:
            flattened.append(item)
    return flattened

# Step 1: Create a nested tuple
nested_tuple = ((1, 2), (3, 4, 5), (6, (7, 8)))

# Step 2: Flatten the nested tuple
flattened_tuple = (flatten_tuple(nested_tuple))

# Step 3: Print the flattened tuple
print("Flattened tuple:", flattened_tuple)

Flattened tuple: [1, 2, 3, 4, 5, 6, 7, 8]

In [100]:
### 32. Create a tuple of the first 5 prime numbers
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True
prime_numbers_list = [num for num in range(2, 100) if is_prime(num)][:5]
prime_numbers_tuple = (prime_numbers_list)
print("Tuple of the first 5 prime numbers:", prime_numbers_tuple)

Tuple of the first 5 prime numbers: [2, 3, 5, 7, 11]

In [108]:
### 33. Check if a tuple is a palindrome.
def is_palindrome_tuple(my_tuple):
    my_list = list(my_tuple)
    return my_list == my_list[::-1]
my_tuple = [1,2,3,2,1]
result = is_palindrome_tuple(my_tuple)
print(result)

True

In [20]:
### 34. Create a tuple of squares of numbers from 1 to 5.
squares_list = []
for i in range(1, 6):
    squares_list.append(i ** 2)
squares_tuple = tuple(squares_list)
print(squares_tuple)

(1, 4, 9, 16, 25)

In [112]:
### 35. Filter out all even numbers from a tuple.
lis = [1,2,3,4,5,6,7,8,9]
out = []
for num in lis:
    if num % 2 == 0:
        out.append(num)
print(out)

[2, 4, 6, 8]

In [47]:
### 36. Multiply all elements in a tuple by 2
# Create a tuple
original_tuple = (1, 2, 3, 4, 5)

# Multiply all elements by 2 using a list comprehension and convert to a tuple
doubled_tuple = (num * 2 for num in original_tuple)

# Print the doubled tuple
print("Doubled tuple:", tuple(doubled_tuple))

Doubled tuple: (2, 4, 6, 8, 10)

In [118]:
### 37. Create a tuple of random numbers.
import random

random_numbers = (random.randint(1,100),random.randint(1,100),random.randint(1,100))
print(random_numbers)

(26, 84, 21)

In [21]:
### 38. Check if a tuple is sorted
def is_sorted_tuple(t):
    return t == tuple(sorted(t))
my_tuple = (1,2,3,4,5)
result = is_sorted_tuple(my_tuple)
print(result)

True

In [120]:
### 39. Rotate a tuple to the left by `n` positions.
def rotate_tuple_left(tup, n):
    n = n % len(tup)
    rotated_tuple = tup[n:] + tup[:n]  
    return rotated_tuple
my_tuple = (1, 2, 3, 4, 5)
n_positions = 2
result = rotate_tuple_left(my_tuple, n_positions)
print(result)

(3, 4, 5, 1, 2)

In [121]:
### 40. Rotate a tuple to the right by `n` positions.
def rotate_tuple_right(tup, n):
    n = n % len(tup)  
    rotated_tuple = tup[-n:] + tup[:-n]  
    return rotated_tuple
my_tuple = (1, 2, 3, 4, 5)
n_positions = 2
result = rotate_tuple_right(my_tuple, n_positions)
print(result)

(4, 5, 1, 2, 3)

In [22]:
### 41. Create a tuple of the first 5 Fibonacci numbers.
def generate_fibonacci(n):
    fibonacci = [0,1]
    while len(fibonacci) < n:
        next_number = fibonacci[-1] + fibonacci[-2]
        fibonacci.append(next_number)
    return tuple(fibonacci)
fibonacci_tuple = generate_fibonacci(5)
print(fibonacci_tuple)

(0, 1, 1, 2, 3)

In [124]:
### 42. Create a tuple from user input.
input_str=input("enter elements to be separated by commas:")
input_list = input_str.split(',')
user_tuple = (input_list)
print(user_tuple)

enter elements to be separated by commas: 1 2 3 4 5

['1 2 3 4 5']

In [125]:
### 43. Swap two elements in a tuple.
my_tuple = (1, 2)
print("Original Tuple:", my_tuple)
element1, element2 = my_tuple
element1, element2 = element2, element1
new_tuple = (element1, element2)
print("Tuple after swapping:", new_tuple)

Original Tuple: (1, 2)
Tuple after swapping: (2, 1)

In [126]:
### 44. Reverse the elements of a tuple.
my_tuple=(0,1,2,3,45)
reversed_tuple=my_tuple[::-1]
print(reversed_tuple)

(45, 3, 2, 1, 0)

In [128]:
#45  Create a tuple of the first `n` powers of 2.
n = 5
powers_of_2_tuple = (2 ** i for i in range(n))
print("Tuple of the first", n,"powers of 2:", powers_of_2_tuple)

Tuple of the first 5 powers of 2: <generator object <genexpr> at 0x7f68bd4c0900>

In [129]:
 ### 46. Find the longest string in a tuple of strings.
my_tup=("apple","ball","cat","dog","pumpkin")
longest_string = max(my_tup, key=len)
print("Longest string:",longest_string)

Longest string: pumpkin

In [130]:
### 47. Find the shortest string in a tuple of strings.
my_tup=("apple","ball","cat","dog","pumpkin")
shortest_string = min(my_tup, key=len)
print(shortest_string)

cat

In [23]:
### 48. Create a tuple of the first `n` triangular numbers.
n = 5
triangular_numbers_tuple = tuple((i * (i+1)) // 2 for i in range(1,n+1))
print("Tuple of the first", n, "triangular numbers:", triangular_numbers_tuple)

Tuple of the first 5 triangular numbers: (1, 3, 6, 10, 15)

In [134]:
### 49. Check if a tuple contains another tuple as a subsequence.
def contains_subsequence(main_tuple, sub_tuple):
    sub_length = len(sub_tuple)
    for i in range(len(main_tuple) - sub_length + 1):
        if main_tuple[i:i+sub_length] == sub_tuple:
            return True
    return False
main_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9)
sub_tuple = (3, 4, 5)
contains_subseq = contains_subsequence(main_tuple, sub_tuple)
print("Main tuple contains subsequence tuple:", contains_subseq)

Main tuple contains subsequence tuple: True

In [24]:
### 50. Create a tuple of alternating 1s and 0s of length `n`.
n = 10
alternating_tuple = tuple(i  % 2 for i in range(n))
print("Tuple of alternating 1s and 0s:",alternating_tuple)

Tuple of alternating 1s and 0s: (0, 1, 0, 1, 0, 1, 0, 1, 0, 1)

In [141]:
#SET BASED PROBLEMS
#PROBLEMS ON THE SET
#1 program to create a set with integers from 1 to 5
my_set={1,2,3,4,5}
print(my_set)

{1, 2, 3, 4, 5}

In [142]:
#2 program to add an element to a set
my_set={1,2,3,4,5}
my_set.add(9)
print(my_set)

{1, 2, 3, 4, 5, 9}

In [143]:
#3 program to remove an element from a set
my_set={1,2,3,4,5}
my_set.remove(4)
print(my_set)

{1, 2, 3, 5}

In [144]:
#4 program to check if an element exists in a set
my_set={1,2,3,4,5}
if 3 in my_set:
    print("3 exists in set")
else:
    print("3 not exists in set")

3 exists in set

In [145]:
#5 program to find length of a set without using len() function
my_set={1,7,3,9,4}
count=0
for i in my_set:
    count+=1
print(count)

5

In [31]:
#6 program to clear all elements from a set
my_set={2,4,5,8,1}
my_set.clear()
print(my_set)

set()

In [148]:
#7 program to create a set of even numbers from 1 to 10
my_set=set()
for i in range(1,11):
    if i%2==0:
        my_set.add(i)
print(my_set)

{2, 4, 6, 8, 10}

In [149]:
#8 program to create a set of odd numbers from 1 to 10
my_set=set()
for i in range(1,11):
    if i%2!=0:
        my_set.add(i)
print(my_set)

{1, 3, 5, 7, 9}

In [150]:
#9 program to find the union of two sets
set1={1,2,3,4}
set2={5,7,8,9}
union_of_sets=set1.union(set2)
print(union_of_sets)

{1, 2, 3, 4, 5, 7, 8, 9}

In [151]:
#10 program to find the intersection of two sets
set1={1,2,3,4,5}
set2={3,4,5,6,7}
intersection_of_sets=set1.intersection(set2)
print(intersection_of_sets)

{3, 4, 5}

In [152]:
#11 program to find the difference between two sets
set1={1,2,3,4,5,6}
set2={3,4,5,6,7,8}
print (set1.difference(set2))
print (set2.difference(set1))

{1, 2}
{8, 7}

In [153]:
### 12. Check if a set is a subset of another set.
set1 = {1,2,3}
set2 = {1,2,3}
is_subset = set1.issubset(set2)
print("Is set1 a subset of set2:",is_subset)

Is set1 a subset of set2: True

In [154]:
### 13. Check if a set is a superset of another set.
set1 = {1,2,3,4,5}
set2 = {3,4}
is_superset = set1.issuperset(set2)
if is_superset:
    print("set1 is a superset of set2")
else:
    print("set1 is not a superset of set2")

set1 is a superset of set2

In [155]:
### 14. Create a set from a list
my_list = [1,2,3,4,5]
my_set = set(my_list)
print(my_set)

{1, 2, 3, 4, 5}

In [156]:
### 15. Convert a set to a list.
my_set = {3,1,2,4,2,35}
my_list=list(my_set)
print(my_list)

[1, 2, 3, 4, 35]

In [157]:
### 16. Remove a random element from a set.
import random
my_set = {1,2,3,4}
random_element = random.choice(list(my_set))
my_set.remove(random_element)
print("Updates set after removing", random_element, ":", my_set)

Updates set after removing 3 : {1, 2, 4}

In [158]:
### 17. Pop an element from a set.
my_set = {1,2,3,45}
popped_element = my_set.pop()
print("Popped eleemnt:",popped_element)
print("updated set:", my_set)
print("Set after poppping:", my_set)

Popped eleemnt: 1
updated set: {2, 3, 45}
Set after poppping: {2, 3, 45}

In [159]:
### 18. Check if two sets have no elements in common.
set1 = {1,2,3,4}
set2 = {1,3,4,5}
common_elements =set1.intersection(set2)
if not common_elements:
    print('The two sets have no common elements')
else:
    print("the two sets have common elements:", common_elements)

the two sets have common elements: {1, 3, 4}

In [160]:
### 19. Find the symmetric difference between two sets.
set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8}
symmetric_difference = set1 ^ set2
print(symmetric_difference)

{1, 2, 3, 6, 7, 8}

In [161]:
### 20. Update a set with elements from another set.
set1 = {1,2,3}
set2 = {4,5,6}
set1.update(set2)
print("updated set 1:",set1)

updated set 1: {1, 2, 3, 4, 5, 6}

In [162]:
### 21. Create a set of the first 5 prime numbers.
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True
prime_set = set()
num = 2
while len(prime_set) < 5:
    if is_prime(num):
        prime_set.add(num)
    num += 1
print("Set of the first 5 prime numbers:", prime_set)

Set of the first 5 prime numbers: {2, 3, 5, 7, 11}

In [163]:
### 22. Check if two sets are identical.
set1 = {1,2,3,4,5}
set2 = {5,4,3,2,1}
if set1 ==set2:
    print("The sets are identicaL")
else:
    print("The sets are not identical")

The sets are identicaL

In [164]:
### 23. Create a frozen set
my_set = {1,2,3,4}
my_frozen_set = frozenset(my_set)
print(my_frozen_set)

frozenset({1, 2, 3, 4})

In [165]:
### 24. Check if a set is disjoint with another set.
set1 = {1,2,3,4}
set2 = {5,6,7,8}

disjoint_status = set1.isdisjoint(set2)
print(disjoint_status)

True

In [166]:
### 25. Create a set of squares of numbers from 1 to 5.
squares=[]
for i in range(1,6):
    square = i ** 2
    squares.append(square)
print("Squares of numbers from 1 to 5:",squares)

Squares of numbers from 1 to 5: [1, 4, 9, 16, 25]

In [167]:
### 26. Filter out all even numbers from a set.
my_set = {1,2,4,6,8,9,0,10}
even_numbers_set = set()
for num in my_set:
    for num in my_set:
        if num % 2 == 0:
            even_numbers_set.add(num)
print("my_set:", my_set)
print("Even numbers set:",even_numbers_set)

my_set: {0, 1, 2, 4, 6, 8, 9, 10}
Even numbers set: {0, 2, 4, 6, 8, 10}

In [168]:
### 27. Multiply all elements in a set by 2.
original_set = {1, 2, 3, 4, 5}
multiplied_set = set()
for num in original_set:
    multiplied_num = num * 2
    multiplied_set.add(multiplied_num)
print("Original Set:", original_set)
print("Multiplied Set:", multiplied_set)

Original Set: {1, 2, 3, 4, 5}
Multiplied Set: {2, 4, 6, 8, 10}

In [169]:
### 28. Create a set of random numbers.
import random
min_value = 1
max_value = 100
set_size = 10
random_numbers = [random.randint(min_value,max_value) for _ in range(set_size)]
print("Random numbers:",random_numbers)

Random numbers: [1, 6, 76, 11, 39, 54, 48, 91, 51, 91]

In [170]:
### 29. Check if a set is empty.
my_set = set()
if len(my_set) == 0:
    print("The set is empty")
else:
    print("The set is  not empty")

The set is empty

In [171]:
### 30. Create a nested set
set1 = {1,2,3,4}
set2 = {5,6,7,8}
frozen_set1 = frozenset(set1)
frozen_set2 = frozenset(set2)
nested_set = {frozen_set1,frozen_set2}
print(nested_set)

{frozenset({1, 2, 3, 4}), frozenset({8, 5, 6, 7})}

In [172]:
### 31.  Remove an element from a set using the discard method.
my_set = {1,2,3,4}
my_set.discard(3)
print("updated set:",my_set)

updated set: {1, 2, 4}

In [45]:
### 32. Compare two sets.
set1 = {1,2,3}
set2 = {4,5,6}
if set1 == set2:
    print("the sets are equal")
else:
    print("The set are  not equal")

The set are  not equal

In [26]:
### 33. Create a set from a string.
input_string = "Likhitha"
char_set = set(input_string)
print(char_set)

{'k', 'i', 'a', 't', 'L', 'h'}

In [27]:
### 34. Convert a set of strings to a set of integers
string_set = {"123","456","789"}
integer_set = {int(element) for element in string_set}
print(integer_set)

{456, 123, 789}

In [44]:
### 35. Convert a set of integers to a set of strings
integer_set = {1,2,3,4,5}
strings_set = {str(element) for element in integer_set}
print(strings_set)

{'1', '2', '4', '5', '3'}

In [177]:
### 36. Create a set from a tuple.
input_tuple = (1,2,3,4,5)
my_set = set(input_tuple)
print(my_set)

{1, 2, 3, 4, 5}

In [25]:
### 37. Convert a set to a tuple.
my_set = {1,2,3,4,5}
my_tuple = tuple(my_set)
print(my_tuple)

(1, 2, 3, 4, 5)

In [182]:
### 38. Find the maximum value in a set
my_set = {1,2,3,4,100}
max_value = max(my_set)
print("maximunm value in the set:",max_value)

maximunm value in the set: 100

In [183]:
### 39. Find the minimum value in a set.
my_set = {1,2,3,4,100,500}
min_vlaue = min(my_set)
print("minimum value in the set:",min_value)

minimum value in the set: 1

In [184]:
### 40. Create a set from user input
user_input = input("enter elements separated by commas:")
elements_list = user_input.split(",")
user_set = set(elements_list)
print(user_set)

enter elements separated by commas: 1,2,3,4,5

{'2', '5', '4', '3', '1'}

In [185]:
### 41. Check if the intersection of two sets is empty.
set1 = {1,2,3,4,5}
set2 = {6,7,8,910}
intersection_result = set1.intersection(set2)
if not intersection_result:
    print("The intersection of two sets is empty")
else:
    print("The intersection of the two sets is not empty")

The intersection of two sets is empty

In [186]:
### 42. Create a set of the first 5 Fibonacci numbers.
fibonacci_set = set()
a,b = 1,2
for _ in range(6):
    fibonacci_set.add(a)
    a,b = b, a+b
print("The set of the first 5 fibonacci numbers:",fibonacci_set)

The set of the first 5 fibonacci numbers: {1, 2, 3, 5, 8, 13}

In [187]:
### 43. Remove duplicates from a list using sets.
my_list = [1,2,3,2,3,4,5,4,5,6]
unique_list = list(set(my_list))
print(unique_list)

[1, 2, 3, 4, 5, 6]

In [188]:
### 44. Check if two sets have the same elements, regardless of their count.
def have_same_elements(set1,set2):
    sorted_list1 = sorted(list(set1))
    sorted_list2 = sorted(list(set2))
set1  = {1,2,3,2,1,4,5,6,7}
set2 = {3,4,5,6,7}
result = have_same_elements(set1,set2)
if result:
    print("The sets have the same elemets.")
else:
    print("The sets do not have the same elements.")

The sets do not have the same elements.

In [189]:
### 45. Create a set of the first `n` powers of 2
def powers_of_2(n):
    powers_set = set()
    power = 1
    
    for i in range(n):
        powers_set.add(power)
        power *= 2
    
    return powers_set

n = int(input("Enter the value of n: "))
result_set = powers_of_2(n)
print("Set of the first", n, "powers of 2:", result_set)

Enter the value of n:  5

Set of the first 5 powers of 2: {1, 2, 4, 8, 16}

In [190]:
### 46. Find the common elements between a set and a list
my_set = {3,7,9,12,15}
my_list = [1,2,3,4,5]
common_elements = my_set.intersection(my_list)
print(common_elements)

{3}

In [191]:
### 47. Create a set of the first `n` triangular numbers
def generate_triangular_numbers(n):
    triangular_numbers = set()
    current_sum = 0
    for i in range(1, n + 1):
        current_sum += i
        triangular_numbers.add(current_sum)
    return triangular_numbers

n = 5  # Change this to the number of triangular numbers you want
triangular_set = generate_triangular_numbers(n)
print(triangular_set)

{1, 3, 6, 10, 15}

In [192]:
### 48. Check if a set contains another set as a subset.
set1 ={1,2,3,4,5}
set2 = {3,4}
is_subset = set2.issubset(set1)
if is_subset:
    print("set2 is a subset of set1")
else:
    print("set2 is not a subset of set1")

set2 is a subset of set1

In [193]:
### 49. Create a set of alternating 1s and 0s of length `n`
def alternating_ones_and_zeros(n):
    result = ""
    for i in range(n):
        if i % 2 == 0:
            result += "1"
        else:
            result += "0"
    return result

# Replace '6' with the desired length 'n'
n = 6
alternating_sequence = alternating_ones_and_zeros(n)
print(alternating_sequence)

101010

In [194]:
### 50. Merge multiple sets into one.
set1 = {1,2,3}
set2 = {4,5,6}
set3 = {7,8,9}
merged_set = set1.union(set2,set3)
print("Merged Set:",merged_set)

Merged Set: {1, 2, 3, 4, 5, 6, 7, 8, 9}